html {
    font-size: 62.5%; }
    @media only screen and (max-width: 75em) {
      html {
        font-size: 56.25%; } }
    @media only screen and (max-width: 68.25em) {
      html {
        font-size: 55%; } }
    @media only screen and (min-width: 112.5em) {
      html {
        font-size: 65%; } }
  
  body {
    box-sizing: border-box;}
    @media only screen and (max-width: 68.25em) {
      body {
        padding: 0; } }
  
body 
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777; 
}

.header {
    height: 90vh;
    background-color: #2e3f42;
    background-size: cover;
    background-position: top;
    position: relative;
    }
    .header_container 
    {
        width: 80%;
        margin: auto;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; 
        color: #e3d7c4;
        text-transform: uppercase;
        backface-visibility: hidden;
        margin-bottom: 6rem; 
    }
        .header_container--name
        {
            display: block;
            font-size: 6rem; 
            font-weight: 400;
            letter-spacing: 3.5rem;
            margin-bottom: 3rem;       
        }
        .header_container--cvprompt
        {
            display: block;
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 1.75rem;
            margin-bottom: 3rem;
        }
    @media only screen and (max-width: 37.5em) 
    {
        .header_container--name {
            letter-spacing: 1rem;
            font-family: 5rem; }
        .header_container--cvprompt  {
        letter-spacing: .3rem; } 
    }

.button
{
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    font-size: 1.6rem; 
}
    .button--white 
    {
        background-color: #fff;
        color: #777;
        text-align: center; 
    }

.button-text:link, .button-text:visited 
{
    font-size: 1.6rem;
    color: #000;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid #000;
    padding: 1rem;
    transition: all .2s; 
}
    
.headings
{
    text-align: center;
    margin-bottom: 8rem;
    text-transform: uppercase;
    letter-spacing: .2rem; 
    font-size: 3.5rem;
    font-weight: 700;
    transition: all .2s; 
}
    .headings--dark {color:#1b2527;}
    .headings--light {color:#e3d7c4;}

    @media only screen and (max-width: 37.5em) 
{
    .headings {font-size: 2.5rem; margin-bottom: 3rem;} 
}

.smallheadings
{
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem; 
    font-size: 3.5rem;
    font-weight: 700;
    transition: all .2s; 
}
    .smallheadings--dark {color:#1b2527;}
    .smallheadings--light {color:#e3d7c4;}

    @media only screen and (max-width: 37.5em) 
{
    .smallheadings {font-size: 2.5rem; margin-bottom: 1rem;} 
}

/* ABOUT ME */
.section-aboutme
{
    height: 60vh;    
}
    .aboutme
    {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.6rem;
        width: 80rem;
    }
        .aboutme_myphoto
        {
            float: left;
            margin-right: 10%;
            margin-bottom: 10%;
            width: 30%;
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
            border-radius: .2rem;
            transition: all .2s;
            outline-offset: 2rem;
        }
        .aboutme_text
        {
            justify-content: center;
            font-size: 1.6rem; 
        }

@media only screen and (max-width: 1000px) 
{
    .section-aboutme
    {
        height: 80vh;    
    }
        .aboutme
        {
            margin-left:auto;
            font-size: 1.6rem;
            width: 40rem;
        }
            .aboutme_myphoto
            {
                float: center;
                margin-right: 30%;
                margin-left : 15%;
                width: 70%;
                box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
                border-radius: .2rem;
                transition: all .2s;
                outline-offset: 2rem;
            }
            .aboutme_header{margin-left : 10%;}
            .aboutme_text
            {
                position:relative;
                margin-left : 10%;
                justify-content: left;
                font-size: 1.3rem; 
            }
            .aboutme_text:not(:last-child) {
                margin-bottom: 3rem; }
            .social_links{margin-left:10%;}
}
.section-skills
{
    height: 50vh;
    background-color: #1b2527;
    background-position: top;
    position: relative;
}
.skill_container
{
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5%;
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
    .skill_container ul 
    {
        list-style: none; 
    }

@media only screen and (max-width: 1000px) 
{
    .section-skills
    {
        height: 35vh;
    }
    .skill_container
    {
        background-color: rgba(255, 255, 255, 0.8);
        width: 70%;
        margin-left: auto;
        margin-right:auto;
        font-size: 1.2rem;
        padding: 1rem;
        text-align: left;
      
    }
}

/* EXPERIENCE */
.section-experience
{
    height: 100vh;
}
    .experience_container
    {
        background-color: rgba(255, 255, 255, 0.8);
        width: 50%;
        margin-left: 25%;
        margin-bottom: 5%;
        font-size: 1.5rem;
        padding: 2.5rem;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    }
    .experience_duration {text-align: right;}

@media only screen and (max-width:1000px)
{
    .section-experience {height: 65vh;}
    .experience_container
    {   
        font-size: 1.0rem;
        width: 80%;
        margin-left: 10%;
    }
}

/* EDUCATION */
.section-education
{
    height: 235vh;
}
    .education_container
    {
        background-color: rgba(255, 255, 255, 0.8);
        width: 50%;
        margin-left: 25%;
        margin-bottom: 5%;
        font-size: 1.5rem;
        padding: 2.5rem;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    }
        .education_heading
        {
            font-size: 2.5rem;
        }
        .education_duration {text-align: right;}
@media only screen and (max-width:1000px)
{
    .section-education {height: 130vh;}
    .education_container
    {
        font-size: 1.0rem;
        width: 80%;
        margin-left: 10%;
    }
        .education_heading
        {
            font-size: 1.5rem;
        }
}

/* PROJECT */
.section-project
{
    height: 200vh;
}

.project-cards
{
    flex: 0 0 auto;
    margin-bottom: 3rem !important;
}

@media only screen and  (min-width: 992px)
{
    .project-cards
    {
        width: 33.33333333%;
    }
}

@media only screen and  (min-width: 768px)
{
    .project-cards
    {
        width: 50%;
    }
}

/* PROJECT CARDS */
.card 
{
    background: #f5f5f5;
    position: relative;
    height: 50rem;
    width: 50%;
    margin-left: 25%;
    margin-right:5%;
    margin-bottom: 10%;

}
    .card_side {
      height: 50rem;
      transition: all .8s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 10px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      overflow: hidden; }
      .card_side--back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg); }
    .card:hover .card_side--front {
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg); }
    .card:hover .card_side--back {
      -webkit-transform: rotateY(0);
      transform: rotateY(0); }
    .card_picture {
      background-size: cover;
      background-position: center;
      height: 35rem;
      background-blend-mode: screen;
    }
    .card_date {
        background: #000;
        font-size: 1.2rem;
        font-weight: 300;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 46rem;
        /* bottom: 5rem; */
        right: 0rem;
        width: 35%; }
      .card_date-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
      }
      .card_heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background: #2e3830;
      }
      .detail-card {
        height: 100%;
        background: #f5f5f5;
      }
      .card_details ul {
        list-style: none;
        width: 100%;
        margin: 0 auto;
        padding-left: 1.5rem;
      }
        .card_details ul li {
          margin: .5rem;
          font-size: 1.5rem;
        }
      .card_cta {
        width: 70%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .project-title {
        color: #455a64;
        letter-spacing: 2px;
        font-family: "Roboto", monospace;
        font-weight: 700;
        font-size: 3rem;
      }

/* Project pictures */

    .card_picture--2 {background-image: url(../images/DentalSEA.PNG);}
