html {
    font-size: 62.5%; }
    @media only screen and (max-width: 75em) {
      html {
        font-size: 56.25%; } }
    @media only screen and (max-width: 68.25em) {
      html {
        font-size: 55%; } }
    @media only screen and (min-width: 112.5em) {
      html {
        font-size: 65%; } }
  
  body {
    box-sizing: border-box;}
    @media only screen and (max-width: 68.25em) {
      body {
        padding: 0; } }
  
body 
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 62.5%;
    line-height: 1.7;
    color: #777; 
}

.header {
    height: 90vh;
    background-color: #1b2527;
    background-size: cover;
    background-position: top;
    position: relative;
    }
    .header_container 
    {
        width: 80%;
        margin: auto;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; 
        color: #e3d7c4;
        text-transform: uppercase;
        backface-visibility: hidden;
        margin-bottom: 6rem; 
    }
        .header_container--name
        {
            display: block;
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: 3.5rem;
            margin-bottom: 3rem;       
        }
        .header_container--cvprompt 
        {
            display: block;
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 1.75rem;
            margin-bottom: 3rem;
        }

.button
{
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    font-size: 1.6rem; 
}
    .button--white 
    {
        background-color: #fff;
        color: #777;
        text-align: center; 
    }

.button-text:link, .button-text:visited 
{
    font-size: 1.6rem;
    color: #000;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid #000;
    padding: 1rem;
    transition: all .2s; 
}
    
.headings
{
    text-align: center;
    margin-bottom: 8rem;
    text-transform: uppercase;
    letter-spacing: .2rem; 
    font-size: 3.5rem;
    font-weight: 700;
    transition: all .2s; 
}
    .headings--dark {color:#1b2527;}
    .headings--light {color:#e3d7c4;}



.section-aboutme
{
    height: 50vh;    
}
    .aboutme
    {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.6rem;
        width: 80rem;
    }
        .aboutme_myphoto
        {
            float: left;
            margin-right: 10%;
            width: 20%;
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
            border-radius: .2rem;
            transition: all .2s;
            outline-offset: 2rem;
        }
        .aboutme_header 
        {
            font-weight: 0;
        }
        .aboutme_text
        {
            justify-content: center;
            font-size: 1.6rem; 
        }

@media only screen and (max-width: 1000px) 
{
    .section-aboutme
    {
        height: 50vh;    
    }
        .aboutme
        {
            margin-left:auto;
            font-size: 1.6rem;
            width: 80rem;
        }
            .aboutme_myphoto
            {
                float: left;
                margin-right: 3%;
                width: 30%;
                box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
                border-radius: .2rem;
                transition: all .2s;
                outline-offset: 2rem;
            }
            .aboutme_header 
            {
                font-weight: 0;
            }
            .aboutme_text
            {
                justify-content: center;
                font-size: 1.6rem; 
            }
}
.section-skills
{
    height: 50vh;
    background-color: #1b2527;
    background-position: top;
    position: relative;
}
.skill_container
{
    background-color: rgba(255, 255, 255, 0.8);
    width: 70%;
    margin-left: auto;
    margin-right:auto;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
    .skill_container ul 
    {
        list-style: none;
        width: 100%;
        margin: 0 auto; 
    }

@media only screen and (max-width: 1000px) 
{
    .section-skills
    {
        height: 50vh;
        background-color: #1b2527;
        background-position: top;
        position: relative;
    }
    .skill_container
    {
        background-color: rgba(255, 255, 255, 0.8);
        width: 90%;
        margin-left: auto;
        margin-right:auto;
        font-size: 1.2rem;
        padding: 1rem;
        text-align: left;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    }
        .skill_container ul 
        {
            list-style: none;
            width: 100%;
            margin: 0 auto; 
        }
}
.section-experience
{
    height: 110vh;
}
    .experience_container
    {
        background-color: rgba(255, 255, 255, 0.8);
        width: 50%;
        margin-left: 25%;
        margin-bottom: 5%;
        font-size: 1.5rem;
        padding: 2.5rem;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    }
    .experience_duration {text-align: right;}

.section-education
{
    height: 200vh;
}
    .education_container
    {
        background-color: rgba(255, 255, 255, 0.8);
        width: 50%;
        margin-left: 25%;
        margin-bottom: 5%;
        font-size: 1.5rem;
        padding: 2.5rem;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    }
        .education_heading
        {
            font-size: 2.5rem;
        }
